@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top, #07324b, #0A486D, #1076B1, #138CD3);
}

main {
    background-color: white;
    border-radius: 10px; 
    box-shadow: 5px 5px 15px #07324b;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 { 
    color: #1076B1;
    text-align: center;
    text-shadow: 1px 1px 2px #07324b;
}

h2 {
    color: #1393DB;
}

p {
    text-align: justify;
}