@charset "UTF-8";

header {
    background-color: black;
    color: white;
    margin: 0px 0px;
    text-align: center;
}

h1 {
    margin-top: 0px;
    padding-top: 40px;
}

h2 {
    padding-bottom: 30px;
    font-size: large;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: auto;
}


article#fundo01 {
    background-color: rgba(0, 0, 0, 0.212);
    margin-right: 300px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer > p {
    margin: 0px 0px;
    padding: 10px;
}