@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/*  "Cookie", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Fredericka+the+Great&display=swap'); 
/*  "Fredericka the Great", serif; */

:root {
    --fonte01: Arial, Verdana, sans-serif;
    --fonte02: "Cookie", cursive;
    --fonte03: "Fredericka the Great", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte03);
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte02);
    font-size: 5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(54, 54, 54);
    color: white;
}

section.imagem > p {
    display: inline-block;
    padding: 8px;
    background-color: rgb(43, 43, 43);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}